.main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 64em) {
  .main {
    flex-direction: row-reverse;
  }
}
.main__overlay {
  height: auto;
  width: 100%;
  padding-bottom: 73.4%;
  overflow: hidden;
  position: relative;
  background-image: url(../../images/image-header-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
@media (min-width: 64em) {
  .main__overlay {
    width: 0;
    background-image: url(../../images/image-header-desktop.jpg);
    padding-bottom: 0;
    padding-left: 49%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
.main__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(171, 92, 219, 0.4), rgba(171, 92, 219, 0.4));
  mix-blend-mode: color;
}
.main__overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(171, 92, 219, 0.8), rgba(171, 92, 219, 0.8));
  mix-blend-mode: multiply;
}
.main__text {
  background-color: #1b1937;
  text-align: center;
}
.main__text .heading {
  margin-top: 2.75rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 64em) {
  .main__text .heading {
    margin-top: 3rem;
    margin-bottom: 1.75rem;
  }
}
@media (min-width: 87.5em) {
  .main__text .heading {
    margin-top: 4.8125rem;
    margin-bottom: 2rem;
  }
}
.main__text .paragraph {
  margin-bottom: 2.75rem;
}
@media (min-width: 64em) {
  .main__text .paragraph {
    margin-bottom: 3rem;
    line-height: 2.1;
  }
}
@media (min-width: 87.5em) {
  .main__text .paragraph {
    margin-bottom: 4.875rem;
    line-height: 2.1;
  }
}
@media (min-width: 40em) {
  .main__text .features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 64em) {
  .main__text .features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
.main__text .features__number {
  margin-bottom: 0.9175rem;
  letter-spacing: 1.6px;
}
@media (min-width: 40em) {
  .main__text .features__number {
    letter-spacing: 1.5px;
  }
}
@media (min-width: 64em) {
  .main__text .features__number {
    letter-spacing: 1.5px;
  }
}
@media (min-width: 87.5em) {
  .main__text .features__number {
    letter-spacing: 1.5px;
  }
}
@media (max-width: 39.9375em) {
  .main__text .features__number {
    margin-bottom: 0.875rem;
    font-weight: 700;
  }
}
.main__text .features__type {
  margin-bottom: 4.1875rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
@media (max-width: 39.9375em) {
  .main__text .features__type {
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 64em) {
  .main__text .features__type {
    margin-bottom: 3.0125rem;
    font-size: 0.75rem;
    font-family: "Lexend Deca", sans-serif;
    letter-spacing: 1.7px;
  }
}
@media (min-width: 87.5em) {
  .main__text .features__type {
    font-size: 0.75rem;
    font-family: "Lexend Deca", sans-serif;
    letter-spacing: 1.7px;
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.9175rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1.5625;
  background-color: #0a0c1c;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 40em) {
  h1 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 64em) {
  h1 {
    font-size: 2.125rem;
    line-height: 2.75rem;
    text-align: left;
  }
}
@media (min-width: 87.5em) {
  h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: left;
  }
}
h1 span {
  color: #ab5cdb;
}

.paragraph {
  font-size: 0.9175rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #c5c5c5;
}
@media (min-width: 40em) {
  .paragraph {
    font-size: 0.9175rem;
    line-height: 2rem;
  }
}
@media (min-width: 64em) {
  .paragraph {
    font-size: 0.8125rem;
    line-height: 1.7rem;
    text-align: left;
  }
}
@media (min-width: 87.5em) {
  .paragraph {
    font-size: 0.9175rem;
    line-height: 1.7rem;
    text-align: left;
  }
}

.features__number {
  font-size: 1.5rem;
}
.features__type {
  font-size: 0.75rem;
  color: #c5c5c5;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 5.5rem;
  padding-left: 1.5rem;
  padding-bottom: 5.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 40em) {
  .container--pall {
    padding-top: 6.5rem;
    padding-left: 5rem;
    padding-bottom: 6.5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 7.0625rem;
    padding-left: 6.3125rem;
    padding-bottom: 7.0625rem;
    padding-right: 6.3125rem;
  }
}
@media (min-width: 87.5em) {
  .container--pall {
    padding-top: 11.0625rem;
    padding-left: 10.3125rem;
    padding-bottom: 11.0625rem;
    padding-right: 10.3125rem;
  }
}
.container--px {
  padding-left: 2.125rem;
  padding-right: 2.125rem;
}
@media (min-width: 40em) {
  .container--px {
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}
@media (min-width: 64em) {
  .container--px {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}/*# sourceMappingURL=style.css.map */